#form label{
    font-weight: bold;
    font-size: 23px;
}

#form input{
    background-color: #777777;
    border-color: black;
    border-color: #777777;
}
#form textarea{
    background-color: #777777;
    border-color: black;
    border-color: #777777; 
}

.buton{
    background-color: #777777 !important; 
    border-radius: 5px !important; 
    border-color: #777777 !important;
    padding: 2px !important; 
    cursor: pointer !important;
}

.buton:hover{
    background-color: #a1a1a1  !important;
}