.ana-baslik {
  color: #cecdcd;
  font-weight: bold;
  font-size: 40px !important;
}

.baslik {
  opacity: 0.7;
  font-size: 25px;
  font-weight: bold;
  font-family: "Rubik";
  color: #e2e2e2;
  text-align: left;
}

.yazi {
  font-size: 25px;
  font-family: "Rubik";
  color: aliceblue;
}

.yazi-giris{
  background-color: #ffffff28 !important;
  color: rgb(255, 255, 255) !important;
  font-family: "Rubik";
}

.link {
  text-decoration: none;
  color: rgb(155, 154, 154);
}

.link:hover {
  color: rgb(204, 204, 204);
}

.mobil p {
  color: aliceblue !important;
  opacity: 100% !important;
  font-size: 20px;
}

.nav-link:hover {
  color: #f7f7f7 !important;
}

.nav-link {
  color: #838383 !important;
}

.active {
  color: #f7f7f7 !important;
}

.Rubik {
  font-family: "Rubik" !important;
  font-weight: 700px;
  font-size: 23px;
}

.buton{
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center !important;
  border-color: #212529;
  color: #f7f7f7;
  background-color: #36363679 !important;
  padding-left: 0px !important;
  margin-left: calc(9% + 2px) !important;
}

.buton-yan{
  margin-left: 5px !important;
}

#navbarNavAltMarkup {
  border-radius: 10px;
}

@media (max-width: 320px) {
  .baslik {
    font-size: 12px !important;
  }
  .yazi {
    font-size: 10px !important;
  }
}
@media (min-width:320px) and (max-width: 576px) {
  .baslik {
    font-size: 18px !important;
  }
  .yazi {
    font-size: 14px !important;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .baslik {
    font-size: 20px !important;
  }
  .yazi {
    font-size: 18px !important;
  }
  .ana-baslik{
    font-size: 30px !important;
  }
  .ana-baslik{
    font-size: 20px !important;
  }
}
@media (max-width: 768px) {
  .ana-baslik {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px !important;
  }
  .baslik {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .baslik {
    font-size: 20px !important;
  }
  .yazi {
    font-size: 20px !important;
  }
}
@media (max-width: 992px) {
}

