#ad_ {
  background-color: #575757;
  color: #e1e1e1;
  border-color: #3a3a3a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#email_ {
  background-color: #575757;
  color: #e1e1e1;
  border-color: #3a3a3a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#sifre_ {
  background-color: #575757;
  color: #e1e1e1;
  border-color: #3a3a3a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#mesaj_ {
  background-color: #575757;
  color: #e1e1e1;
  border-color: #3a3a3a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#renk_ {
  background-color: #575757;
  color: #e1e1e1;
  border-color: #3a3a3a;
  width: 10%;
  margin-left: 10%;
  margin-right: auto;
}

#gozat_ {
  width: 80px !important;
  height: 40px;
  padding-top: 8px;
  margin-left: 10%;
}

.baslik {
  text-align: left;
  margin-left: 9%;
  font-size: 23px !important;
}

#buton-sil {
  width: auto;
  margin-left: 0px;
}

#buton-test {
  width: auto;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .baslik {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #buton {
    margin-right: 20% !important;
    margin-left: 20% !important;
    width: 60%;
  }
  #buton-gonder {
    margin-right: 20% !important;
    margin-left: 20% !important;
    width: 60%;
  }
  #buton-sil {
    margin-right: 20% !important;
    margin-left: 20% !important;
    width: 60%;
  }
  #buton-test {
    margin-right: 20% !important;
    margin-left: 20% !important;
    width: 60%;
  }
  #buton-gozat {
    margin-right: 40% !important;
    margin-left: 40% !important;
    width: 20%;
  }
  #radio {
    text-align: center;
    margin-left: 0px !important;
  }

  #renk_ {
    margin-left: auto;
    margin-right: auto;
  }
  #gozat_ {
    width: 80px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
