@media (max-width: 1200px) {
  #kaydirma-buton {
    display: none;
  }
}
@media (max-width: 990px) {
  #resim {
    width: 700px !important;
    object-fit: fill;
    object-fit: none;
  }
}
@media (max-width: 720px) {
  #resim {
    width: 563px !important;
    object-fit: fill;
    display: block;
  }
}

#resim {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#resim-aciklama {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: x-large;
  font-family: Rubik;
}
